version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: notes-postgres
    restart: unless-stopped
    env_file:
      - .env.docker
    ports:
      - "5430:5432"   # доступ с хоста на порт 5430
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - notes_network

  backend:
    build: .
    container_name: notes-backend
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8083:8083"
    env_file:
      - .env.docker
    networks:
      - notes_network

volumes:
  postgres_data:

networks:
  notes_network:
